<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Seattle Times Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
      <li><a class="btn btn-danger scrape-new">Scrape New Articles</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
<div class="background-image">
</div>
<div class="caption">
    <h1>Seattle Scraper</h1>
    <p>Seattle Local News</p>
</div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p class="text-center">Seattle Times Scraper -- Nicole Richardson 2018</p>
  </div>
</footer>

<!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="../../assets/javascript/index.js"></script>
